// Supabase Credentials

SUPABASE_PUBLISHABLE_API_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_DATABASE_URL=
SUPABASE_DATABSE_PASSWORD=

// OpenRouter Credentials

OPENROUTER_API_KEY=

// Cloudflare Credentials

BUCKET_NAME=
CLOUODFLARE_S3_API=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_KEY=

// Google AI Studio Credentials

GOOGLE_AI_STUDIO_API_KEY=